* {
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
}
body {
    background-color: white;
}

.container{
    width: 80%;
    background-color: white;
    margin: auto;

}

.navbar{
    padding: 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    display: flex;

}
.menu ul li a{
    margin: 20px;
    text-decoration: none;
    color: #687279;
}
h3{
    display: contents;
    color: #F1A204;
    
    
}
h2{
    display: contents;
    color: #0C048C;
}
.pesat a {
    background-color: #F1A204;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;

}
.pesat a.putih {
    color: white;
}

.pesat a:hover{
    background-color: #0C048C;
    color: white;
}
.aku {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.my{
    text-align: left;
    border-radius: 5px;
    border-color: #0C048C;
    color: white
}



.saya{
    text-align: left;
    border-radius: 5px;
    border-color: #0C048C;
    color: white
}
.hero   {
    display: flex;
    
    margin: auto;

    
}

.kata{
    color: #0C048C;
    text-decoration: none;
}
.classfoto{
    width: 900px;
    height: auto;
}
.gambar {
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.gambar .besar img  {
    height: auto;
    width: 900px;
}

.classtext .my a {
    display: flex;
    gap: 20px;
    font-size: 20px;


}
.gambar .kecil {
    font-size: 20px;
    text-decoration: none;
    color: #0C048C;
}
.classtext .teks{
    font-size: 20px;
}
.besar {
    font-size: 50px;
}

.gambar .besar {
    text-decoration: none;

}
.fa-solid fa-circle-check {
    color: #0C048C;
}

    
 

/* tabel */

p {
    background-color:white ;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    margin: 50px 0px 0px 0px;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
}

.Jurusan {
    background-color: white;
    margin: 50px;
    padding: 20px;
    display: flex;
    border-radius: 10px;

}
.judul {
    text-align: center;
    background-color:rgb(255, 183, 2) ;
    border-radius: 5px;
    color: white;
}
.Download {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(6, 6, 125);;
    color: white
    
    
}

.Down {
    text-align: center;
    border-radius: 5px;
    background-color:rgb(6, 6, 125); ;
    color:white
}
.load {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(6, 6, 125);;
    color: white
    
}
h1 {
    color: rgb(6, 6, 125);
    text-align: center;
}
h5 {
    color: rgb(6, 6, 125);
    text-align: center;

}

.Jurusan .Tkj {
    background-color: aliceblue;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    
}
.Jurusan .Dkv {
    background-color: aliceblue;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    
}
.Jurusan .Rpl {
    background-color: aliceblue;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    
}
li{
    padding-left: 10px;
}   
    

/* Gallery CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif; ;
}

body{
    background-color: white;
    padding: 40px;
}

.container_gallery2{
    max-width: 1200px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 30px;
}
.gallery{
    text-align: center;
    margin-bottom: 30px;
}
.btn{
    border: 1px solid #ccc;
    background: none;
    color: #000;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn.active,
.btn:hover{
    background-color: #f1a204;
    color: white;
    border-color: #f1a204;
}
.foto{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gambar{
    width: 30%;
    overflow: hidden;
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.5s ease;
}
.gambar img{
    width: 100%;
    height: 100%;
} 
.gambar:hover{
    transform: scale(1.1);
}  




    
